stages:
  - SCA
  - style
  - build
  - test
  - deploy


Ising:
  stage: build
  script:
    - cmake -E make_directory build
    - cd build
    - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release ..
    - cmake --build . --target qmct_Hub --config Release

Hubbard:
  stage: build
  script:
    - cmake -E make_directory build
    - cd build
    - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release ..
    - cmake --build . --target qmct_Hub --config Release

SPT:
  stage: build
  script:
    - cmake -E make_directory build
    - cd build
    - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release ..
    - cmake --build . --target qmct_SPT --config Release

Analysis:
  stage: build
  script:
    - cmake -E make_directory build
    - cd build
    - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release ..
    - cmake --build . --target cov_eq --config Release
    - cmake --build . --target cov_tau --config Release
    - cmake --build . --target jackv5 --config Release
