types:
  - build
  - test


Ising:
  type: build
  script:
    - cmake -E make_directory build
    - cd build
    - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release ..
    - cmake --build . --target qmct_Hub --config Release

Hubbard:
  type: build
  script:
    - cmake -E make_directory build
    - cd build
    - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release ..
    - cmake --build . --target qmct_Hub --config Release

SPT:
  type: build
  script:
    - cmake -E make_directory build
    - cd build
    - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release ..
    - cmake --build . --target qmct_SPT --config Release

Analysis:
  type: build
  script:
    - cmake -E make_directory build
    - cd build
    - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release ..
    - cmake --build . --target cov_eq --config Release
    - cmake --build . --target cov_tau --config Release
    - cmake --build . --target jackv5 --config Release
